*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white;
}

.first-nav{
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 0;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-nav li{
    list-style-type: none;
}

.logo{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border-bottom: 50px;
}

.icon{
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.icon:hover{
    background-color: rgb(171, 167, 167);
    cursor: pointer;
}


.bottom-content{
    position: absolute;
    height: 100%;
    top: 42%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-body{
    position: fixed;
    left: 70px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(57, 56, 56);
    border-radius: 5px;
}


                                /*//////////             SIDEBAR            //////////*/

.small-sidebar{
    position: fixed;
    top: 10px;
    bottom: 600px;
    left: 80px;
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(19, 18, 18); */
    /* border: 1px solid rgb(57, 56, 56); */
}

.main-sidebar{
    position: fixed;
    top: 190px;
    bottom: 10px;
    left: 80px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(19, 18, 18);
    border: 1px solid rgb(57, 56, 56); */
}



                                /*//////////            MAIN AREA              //////////*/

.chatbox{
    position: fixed;
    left: 410px;
    max-width: 70rem;      
    top: 10px;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(19, 18, 18); */
    border: 1px solid rgb(57, 56, 56);
}



                                   /*//////////            BUTTON            //////////*/
.btn{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: white;
    background-color: rgb(19, 18, 18);
    outline: none;
    border: none;
    font-size: 14px;
    padding-top: 20px;
    padding-right: 190px;
    }

    .btn:hover{
        cursor: cell;
    }

    .popular{
        background-color: grey;
        border: none;
        outline: none;
        font-size: 12px;
        color: white;
        margin-top: 27px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 300px;
        border-radius: 5px;
    }

    .popular:hover{
        background-color: rgb(98, 97, 97);
        cursor: pointer;
    }

    .threads {
        background-color: rgb(19, 18, 18);
        border: none;
        outline: none;
        font-size: 12px;
        color: rgb(133, 132, 132);
        margin-top: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 300px;
        border-radius: 5px;
    }


                                /*//////////             CHATBOX CONTAINER            ////////// */
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    max-width: 50rem;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 15px;
}

.chat-history {
    flex: 1;
    overflow: auto;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 50rem;
}

#message-input {
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: none;
    outline: none;
}

.iconn-white {
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    background-color: black;
    justify-content: center;
    margin: 0 10px;
}

.textbox{
    display: inline-flex;
    align-content: center;
    gap: 10px;
    background-color: black;
    border-radius: 10px;
    max-width: 40rem;
}

.textbox input{
    height: 50px;
    width: 550px;
    outline: none;
    border: none;
    color: grey;
}

.chat-container .center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}



                              /* //////////           MEDIA QUERIES          ////////// */



@media screen and (max-width: 1110px) {
    .small-sidebar{
        width: 250px;
    }

    .main-sidebar{
        width: 250px;
    }

    .btn{
        width: 220px;
        font-size: 12px;
    }

    .popular{
        width: 220px;
    }

    .threads{
        width: 220px;
    }

    .chatbox{
        max-width: 80rem;
        left: 340px;
    }
}




                              /* //////////           ADD DOCUMENT BUTTON          ////////// */
.add-btn{
    display: none;
    visibility: none;
}