@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainBG: #131314;
    --mainTextColor: #b8c1b6;

    --headText: #caccce;

    --sidebarBG: #1e1f20;
    --sidebarBtnBG: #1a1a1c;
    --sidebarBtnColor: #666667;

    --promptBoxBG: #1e1f20;
    --openMenuHover: #42424269;
}
 
.loaderIcons {
    /* display: none; */
}

body {
    font-family: Open Sans, sans-serif;
    background-color: var(--mainBG);
    color: var(--mainTextColor);
}

/* Navbar */
.navbar-box {
    position: fixed;
    left: 70px;
    right: 0;
    background-color: var(--mainBG);
    border-bottom: 1px solid #202020;
}

.navbar-box-layer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px 15px 25px;
}

.nav-account-option-box {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.244);
    border-radius: 50%;
    cursor: pointer;
}

.nav-option-box h2 a {
    font-family: Quicksand, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--headText);
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

/* Sidebar */
.sidebar-box {
    position: fixed;
    width: 68px;
    height: 100dvh;
    background-color: var(--sidebarBG);
    transition: all .3s ease;
}

.sidebar-box-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #ed2c2c; */
    height: 100%;
}

.sidebar-openBtn {
    /* border: 1px solid red; */
    height: fit-content;
    margin: 15px 0 45px 0;
    height: 48px;
    width: 48px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar-openBtn:hover {
    background-color: var(--openMenuHover);
}

.sidebar-openBtn i {
    position: relative;
    top: 1px;
    font-size: 1.2rem;
    color: var(--headText);
}

.sidebar-options-box {
    /* border: 1px solid red; */
}

.sidebar-options-box ul li {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
    height: 70px;
}

.sidebar-options-box ul li button {
    position: relative;
    background-color: var(--sidebarBtnBG);
    color: var(--sidebarBtnColor);
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-options-box ul li button i {
    position: relative;
    top: 1px;
    font-size: 1rem;
}

.tooltip {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    background-color: rgb(60, 64, 67);
    padding: 4px 8px;
    border-radius: 5px;
    width: max-content;
    font-weight: 600;
    transition: all .1s ease;
    opacity: 0;
}

.sidebar-footer-tip {
    top: 50%;
    transform: translateY(-50%);
    left: 120%;
    height: 25px;
}

.prompt-upload-tip {
    top: -75%;
    height: 25px;
}

#document {
    display: none;
}

.prompt-tip {
    top: -75%;
    left: -10px;
    height: 25px;
}

.uploadBtn-tip {
    bottom: -80%;
    left: -50%;
    height: 25px;
}

.tooltip.hovered {
    opacity: 1;
    transition: all .1s ease-in;
}

.sidebar-footer-box {
    position: absolute;
    bottom: 20px;
    /* border: 1px solid red; */
}

.sidebar-footer-box ul li {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
    height: max-content;
    /* border: 1px solid red; */
}

.sidebar-footer-box ul li button {
    position: relative;
    background-color: transparent;
    color: var(--sidebarBtnColor);
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-footer-box ul li button:hover {
    background-color: var(--sidebarBtnBG);
}

.sidebar-footer-box ul li button i {
    position: relative;
    top: 1px;
    font-size: 1rem;
}


/* Main */
.main-box {
    position: fixed;
    /* height: 560px; */
    height: 100dvh;
    /* border: 1px solid red; */
    top: 75px;
    left: 75px;
    right: 0;
}

.main-box-layer {
    position: relative;
    height: 100%;
}

.prompt-box {
    position: fixed;
    bottom: 10px;
    width: 830px;
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%);
    /* opacity: 0; */
}

.prompt-box-layer {
    /* border: 1px solid red; */
    background-color: var(--sidebarBG);
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 4px 8px;
}

.query-input {
    /* border: 1px solid red; */
    width: 100%;
}

.query-input input {
    padding: 16px;
    width: 100%;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--mainTextColor);
}

.prompt-action-box {
    /* border: 1px solid red; */
    /* width: 150px; */
}

.prompt-action-box ul {
    display: flex;
}

.prompt-action-box ul li {
    position: relative;
    list-style: none;
    display: inline-flex;
    height: max-content;
    /* border: 1px solid yellow; */
}

.prompt-action-box ul li button {
    position: relative;
    background-color: transparent;
    color: var(--sidebarBtnColor);
    outline: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prompt-action-box ul li button:hover {
    background-color: var(--openMenuHover);
}

.prompt-action-box ul li label span:hover {
    background-color: var(--openMenuHover);
}

.prompt-action-box ul li label span {
    position: relative;
    background-color: transparent;
    color: var(--sidebarBtnColor);
    outline: none;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prompt-action-box ul li button:hover {
    background-color: var(--openMenuHover);
}

.prompt-action-box ul li label span i {
    position: relative;
    top: 2px;
    left: 1px;
    font-size: 1.3rem;
    color: var(--headText);
}

.prompt-action-box ul li button i {
    position: relative;
    top: 2px;
    left: 1px;
    font-size: 1.3rem;
    color: var(--headText);
}

.prompt-action-box ul li label span i.submit-icon {
    position: relative;
    top: 2.5px;
    left: 0px;
    font-size: 1.3rem;
    color: var(--headText);
    /* border: 1px solid red; */
}

.prompt-action-box ul li button i.submit-icon {
    position: relative;
    top: 2.5px;
    left: 0px;
    font-size: 1.3rem;
    color: var(--headText);
    /* border: 1px solid red; */
}

.info-text p {
    margin-top: 5px;
    font-size: 0.7rem;
    text-align: center;
}

.info-text p a {
    color: var(--mainTextColor);
}

/* Chat */
.chat-box {
    /* border: 1px solid #202020; */
    /* height: 500px; */
    height: 400px;
    overflow-y: auto;
}

.chat-box-layer {
    position: relative;
    width: 900px;
    max-width: 100%;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.chat-title h2 {
    font-size: 1.1rem;
    margin: 0 0 10px 0;
}

.file-upload-box {
    margin: 50px 0 0 0;
    width: 100%;
    border: 2px dashed #202020;
    /* height: 400px; */
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-upload-box:hover {
    background-color: #1a1a1c2b;
}

.upload-file-icon i {
    font-size: 5rem;
}

.upload-text h4 {
    font-size: 1.1rem;
    margin: 0 0 5px 0;
}

.upload-text p {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
}

.upload-fileBtn {
    margin: 20px 0 0 0;
}

.upload-fileBtn ul li {
    position: relative;
    list-style: none;
    display: inline-flex;
    height: max-content;
}

.upload-fileBtn ul li button {
    position: relative;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: var(--headText);
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    text-shadow: 0 0 8px black;
}

.upload-fileBtn ul li button i {
    margin-left: 10px;
}