<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% include 'HS/head.html' %}
</head>

<body>

    <!-- message box | show all messages here -->
    <div id="upload-status" class="message-box"></div>

    {% include 'HS/nav.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Content block for child templates to override -->
    <div id="content">
        {% block content %}


        {% endblock %}
    </div>
    <script>{% static "nav.js" %}</script>
</body>
</html>