{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="main-box">
    <div class="main-box-layer">

        <div class="chat-box">
            {% comment %} <div id="output">
            </div> {% endcomment %}

            <div class="chat-box-layer" id="chatLayer">
                <label for="file-input">

                    <div id="file-upload-spinner" class="spinner-container" style="display: none;">
                        <div class="spinner"></div>
                        <span>Uploading file...</span>
                    </div>
                    <div id="file-upload" class="file-upload-box">
                        <span class="file-name" id="fileNames"></span>
                        <h4 class='chat-title'>Upload DOCX Files</h4>

                        <label for="file-input">
                            <i class="fi fi-tr-document-signed"></i>
                        </label>

                        <div class="upload-text">
                            <p> Select or drag a file here. </p>
                        </div>

                        <input type="file" id="file-input" name="file_content" accept=".docx">

                        <button id="upload-btn"><span class="btn-text">Upload File</span> <span class="loader"></span> </button>

                    </div>
                </label>
            </div>

            <div class="chat-log" id="chat-log">
                <div id="llm-typing-spinner" class="spinner-container" style="display: none;">
                    <div class="spinner"></div>
                    <span>Generating response...</span>
                </div>
                <!-- Chat bubbles will be appended here -->
            </div>
        </div>


        <div id="query-section" class="prompt-box">
            <div class="prompt-box-layer">

                <!-- prompt input box -->
                <div class="prompt-input">
                    <input type="text" id="query-input" placeholder="Enter your question" autocomplete="off">
                </div>

                <div class="prompt-action-box">
                    <ul>
                        <li>
                            <label for="file-input">
                                <span class="new-fileBtn"><i class="fi fi-rr-file-upload"></i></span>
                                <div class="tooltip prompt-upload-tip">Upload file</div>
                            </label>
                        </li>
                        <li>
                            <button class="new-fileBtn" id="query-btn">
                                <div class="submit-icon">
                                    <i class="fi fi-rr-paper-plane submit-icon"></i>
                                </div>
                                <span class="loader"></span>
                            </button>
                            <div class="tooltip prompt-tip">Submit</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info-text">
                <p>Xplora may display inaccurate info, so verify its responses.</p>
            </div>
        </div>


        {% csrf_token %}
        <script src="{% static 'js/scriptdocx.js' %}"></script>

        {% endblock content %}