{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://9bvxsfvdyn2u1qyx.public.blob.vercel-storage.com/icon-CInB7YuCR85MLSNoE6c7Pciy3dCWyp.png" type="image/x-icon">
    
    <!-- Stylesheets -->
    {% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" /> {% endcomment %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" /> {% endcomment %}
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel='stylesheet'href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% comment %} <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" /> {% endcomment %}
</head>
