{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://9bvxsfvdyn2u1qyx.public.blob.vercel-storage.com/icon-CInB7YuCR85MLSNoE6c7Pciy3dCWyp.png" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title> Xplora - Chat with your document made easy. </title>
</head>
<body>
    

</body>
</html>