
<div class="navbar-box">
    <div class="navbar-box-layer">

        <div class="nav-option-box">
            <h2><a href="/"> Xplora </a></h2>
        </div>

        <div class="nav-account-option-box">
            <div class="nav-account-img">

            </div>
        </div>

    </div>
</div>

<!-- Sidebar -->
<div class="sidebar-box">
    <div class="sidebar-box-layer">

        <div class="sidebar-openBtn">
            <i class="fi fi-rr-menu-burger"></i>
        </div>

        <div class="sidebar-options-box">
            <ul>
                <li>
                    <button class="new-fileBtn"><i class="fi fi-rr-plus"></i></button>
                    <div class="tooltip">New chat</div>
                </li>
                <li>
                    <button class="new-fileBtn"><i class="fi fi-rr-time-past"></i></button>
                    <div class="tooltip">Chat history</div>
                </li>
            </ul>
        </div>

        <div class="sidebar-footer-box">
            <ul>
                <li>
                    <button class="new-fileBtn"><i class="fi fi-rr-interrogation"></i></button>
                    <div class="tooltip sidebar-footer-tip">FAQ</div>
                </li>
                <li>
                    <button class="new-fileBtn"><i class="fi fi-rr-settings"></i></button>
                    <div class="tooltip sidebar-footer-tip">Settings</div>
                </li>
            </ul>
        </div>

    </div>
</div>
