{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Login" %}{% endblock head_title %}
 
 
{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

        <h1 class="font-mono">{% trans "Login" %}</h1>
        <p class="font-mono">{% blocktrans %}Don't have an account? <a href="{{ signup_url }} " class="underline">Sign up</a>.{% endblocktrans %}</p>
        <form method="post" action="{% url 'account_login' %}" class="login-form">
            {% csrf_token %}
        {% if form.errors %}
            <p class="error">An Error occured, Please try again</p>
        {% endif %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% comment %} <p class="error">{{ error }}</p> {% endcomment %}
                    {% endif %}
                </div>
            {% endfor %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <button type="submit" class="w-full font-mono my-2 dark:bg-neutral-900 text-white rounded-md p-4 text-center flex items-center justify-center">{% trans "Login" %}</button>
        </form>
        {% if SOCIALACCOUNT_ENABLED %}
            <div class="w-full font-mono my-2 dark:bg-neutral-900 text-white font-semibold rounded-md p-4 text-center flex items-center justify-center">
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            </div>
        {% endif %}
    </div>
{% endblock %}















